---
import SectionTitle from '@/components/SectionTitle.astro';
---

<SectionTitle title="About me" />

<div class="dark:text-neutral-400">
  <p class="text-pretty mb-6">
    Ciao! My name is Jorge Gómez, I am 33 years old and I'm currently living in Murcia, Spain. I
    studied building engineer at the UCAM university and later on I decided to move on Web
    Development studying a Higher Technical Qualification.
  </p>

  <p class="text-pretty mb-6">
    Since then, I have decided to specialize, above all, in JavaScript technologies. Since I started
    the practices until today, I have worked mostly using Vue and Angular, creating user interfaces
    with Tailwind CSS. I am also an enthusiast of Vim and Neovim and, although I am not using these
    editors in my day to day life, I am in love with Vim shortcuts.
  </p>

  <p class="text-pretty">
    Driven by an insatiable curiosity and a penchant for self-directed learning, I embody the
    essence of a lifelong learner. Each project undertaken serves as an opportunity not only to
    expand my technical prowess but also to delve deeper into the nuances of software development.
    My journey is defined by a relentless pursuit of knowledge and mastery, ensuring that I remain
    at the forefront of innovation in the ever-evolving landscape of technology.
  </p>
</div>
