---
import SectionTitle from '@/components/SectionTitle.astro';
---

<SectionTitle title="About me" />

<div class="text-gray-500">
  <p class="text-pretty mb-6">
    Ciao! My name is Jorge Gómez, I am 33 years old and I'm currently living in Murcia, Spain. I
    studied building engineer at the UCAM university and later on I decided to move on Web
    Development studying a Higher Technical Qualification.
  </p>

  <p class="text-pretty">
    Since then, I have decided to specialize, above all, in JavaScript technologies. Since I started
    the practices until today, I have worked mostly using Vue and React, creating user interfaces
    with Tailwind CSS. In addition to JavaScript, I also really like PHP, Laravel and Symfony. Also
    this year I hope to get some time to learn GO, because I have in mind some CLI applications that
    could be interesting. I am also an enthusiast of Vim and Neovim and, although I am not using
    these editors in my day to day life, I am in love with Vim shortcuts.
  </p>
</div>
