---
import ExperienceItem from '@/components/ExperienceItem.astro';
import SectionTitle from '@/components/SectionTitle.astro';

const EXPERIENCE = [
  {
    date: 'December 2022 - Present',
    title: 'Front-End Developer',
    company: 'Zapp Studio',
    link: 'https://zapp-studio.com/',
    description:
      'Developed the frontend of a large-scale national agricultural management platform using Angular 14, applying Clean Code principles. Created intuitive CMS panels with Nuxt 2/3 and Vuetify for user management and content administration. Delivered robust, maintainable code architecture for enhanced internal operations and user experience.',
  },
  {
    date: 'March 2022 - November 2022',
    title: 'Web Developer',
    company: 'Capgemini',
    link: 'https://www.capgemini.com/es-es/',
    description:
      'Developed cutting-edge virtual environments using Three.js, Angular Three, and ngRx. Led 3D projects with advanced animations, physics, and collisions. Spearheaded the migration to React for improved performance with React Three Fiber. Utilized TypeScript, Redux, Node.js, Express, and MongoDB Atlas. Presented research at an internal talk to 100+ attendees at Capgemini.',
  },
];
---

<SectionTitle title="Experience" />

<ol class="relative border-s-2 border-neutral-300">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
