---

---

<header class="w-full flex items-center justify-center mx-auto mt-8">
  <nav class="flex gap-x-4 justify-center items-center text-lg">
    <a class="hidden md:block transition hover:text-primary" href="">Experience</a>
    <a class="hidden md:block transition hover:text-primary" href="">Projects</a>
    <a class="transition hover:opacity-80" href="">
      <img class="w-24" src="/jgcarrillo.png" alt="Logo jgcarrillo" />
    </a>
    <a class="hidden md:block transition hover:text-primary" href="">About me</a>
    <a class="hidden md:block transition hover:text-primary" href="">Contact</a>
  </nav>
</header>
