---
import SectionContainer from '@/components/SectionContainer.astro';
---

<div>
  <h1 class="text-4xl font-bold">Hello <span>👋</span></h1>
  <h2 class="text-4xl font-bold">My name is Jorge Gómez</h2>

  <h3 class="prose text-3xl text-neutral-500 dark:text-neutral-400 font-light mt-2">
    I'm a Murcia based frontend developer with +2 years of experience, focused on develop quality
    code
  </h3>
</div>
