---
import SectionContainer from '@/components/SectionContainer.astro';
---

<div>
  <h1 class="text-4xl font-bold">Hello <span>👋</span></h1>
  <h2 class="text-4xl font-bold">My name is Jorge Gómez</h2>

  <h3 class="text-3xl text-gray-500 font-thin mt-2">
    I'm a Murcia based frontend developer focused on develop quality code
  </h3>
</div>
