---
import SectionTitle from '@/components/SectionTitle.astro';
import ProjectCard from '@/components/ProjectCard.astro';

const PROJECTS = [
  {
    name: 'Task Control',
    description: '📋 A different task manager for students.',
    icon: '',
    tags: ['Vue.js', 'Vuex', 'Vue router', 'Tailwind'],
    url: 'https://fct-control-vuejs.netlify.app/',
    githubUrl: 'https://github.com/jgcarrillo/fct-control-vuejs',
  },
  {
    name: 'Telegram Bot',
    description: '🤖 Check the weather and create reminders.',
    icon: '',
    tags: ['grammY', 'Typescript', 'Axios', 'Vercel'],
    url: 'https://github.com/jgcarrillo/joserrabot',
    githubUrl: 'https://github.com/jgcarrillo/joserrabot',
  },
  {
    name: 'Angular Crypto currency',
    description: '👛 List some cryptos and add them to favorites.',
    icon: '',
    tags: ['Angular', 'Bootstrap', 'Netlify'],
    url: 'https://angular-crypto-api.netlify.app/home',
    githubUrl: 'https://github.com/jgcarrillo/angular-crypto-api',
  },
  {
    name: 'Reverse Recipes',
    description: '🍳 Search for recipes but by ingredients.',
    icon: '',
    tags: ['Laravel', 'Inertia', 'Vue.js', 'Tailwind'],
    url: '',
    githubUrl: 'https://github.com/jgcarrillo/reverse-recipes',
  },
];
---

<SectionTitle title="Projects" />

<div class="grid grid-cols-1 md:grid-cols-2 gap-3">
  {PROJECTS.map((project) => <ProjectCard {...project} />)}
</div>
