---
import SectionTitle from '@/components/SectionTitle.astro';
import TalkItem from '@/components/TalkItem.astro';

const TALKS = [
  {
    title: 'Create your own metaverse with React Three Fiber',
    link: 'https://www.meetup.com/es-ES/murciadev/events/291141556/',
    location: '@Coworking Murcia Emprendedora',
    datetime: 'February 9, 2023 - 19:30',
    icon: 'react',
  },
];
---

<SectionTitle title="Talks" />

<div>
  {TALKS.map((talk) => <TalkItem {...talk} />)}
</div>
